body {
  font: 10px sans-serif;
  background: #000;
}

rect {
  fill: #D26C1E;
  stroke: black;
  stroke-width: 2;
}

line {
  stroke: black;
  shape-rendering: crispEdges;
}

.year, .label, text {
  fill: #fff;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#maintext, #legend {
  font-size: 36px;
}
